[Unit]
Description=GPUView Daemon
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=CURR_EXEC_PATH run --safe-zone
Restart=always
RestartSec=20s
User=CURR_USER
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
